<div class='page-home-header header-conteiner-page'>

    <nav class='navigation' id='nav-pages'>
        <div>
            <a
                class='logo-link title-logo'
                data-tpl='home'
                href='#header-container'
            >
                Filmoteka
            </a>
        </div>
        <div class='nav-pages'>

            <a
                class='nav-pages-link action'
                data-tpl='home'
                href='#header-container'
            >HOME</a>
            <a class='nav-pages-link' data-tpl='library' href='#content1'>MY
                LIBRARY</a>
        </div>

    </nav>

    <div class='page-home'>
        <form class='search' id='search-form'>

            <input
                type='text'
                onfocus='this.select()'
                name='query'
                autocomplete='off'
                placeholder='Поиск фильмов'
                class='input input-icon'
                id='search-input'
            />
        </form>
        <p class='message-header is-hidden'>Search result not successful. Enter
            the correct movie name</p>
    </div>
    <div id='switch' class='theme-icon'></div>
</div>