<div class='page-library-header header-conteiner-page'>
    <nav class='navigation' id='nav-pages'>
        <div>
            <a
                class='logo-link title-logo'
                data-tpl='home'
                href='#header-container'
            >
                Filmoteka
            </a>
        </div>
        <div class='nav-pages'>

            <a
                class='nav-pages-link'
                data-tpl='home'
                href='#header-container'
            >HOME</a>
            <a
                class='nav-pages-link action'
                data-tpl='library'
                href='#content1'
            >MY LIBRARY</a>
        </div>

    </nav>
    <div class='page-library' id='library-wrapper'>
        <button
            type='button'
            class='header-btn current-state'
            data-action='watched'
        >WATCHED</button>
        <button
            type='button'
            class='header-btn'
            data-action='queued'
        >QUEUE</button>
    </div>
    <div id='switch' class='theme-icon'></div>
</div>